# HOW TO USE:
#
# 1 Add environment variables for local development.
# 2 Rename this file to .env and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx
API_URL=https://api.example.com

#Get those from Slack App
SIGNING_SECRET=get_itFromSlackApp
BOT_USER_OAUTH_ACCESS_TOKEN=get_itFromSlackApp_too
